# Node.js dependencies
/frontend/node_modules

# Python virtual environment
/backend/venv

# SQLite Database (si se usa localmente)
/db/*.sqlite3

# Docker files
/db_data

# System files
*.log
*.pyc
__pycache__/
.DS_Store
